.cart-page {
    padding: 20px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.cart-item-details {
    
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 250px;
    flex: 1;
}

.cart-item-details h3 {
    margin: 0 0 10px 0;
}

.cart-item-details p {
    margin: 5px 0;
}
